body{
  background-color: #fafafa;
}

img{
  width: 100%;
}
a{
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px; 
  background-color: #fafafa;
  }

.row {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .row > a:hover {
    color: #9e9e9e; }
.screen-1 {
  height: 100%;
  position: relative;
  z-index: 1; }
  .screen-1 > header .info {
    width: 100%;
    background-color: #212121;
    color: #ffffff; }
    .screen-1 > header .info .kontakt {
      height: 50px;
      margin: 0 auto;
      max-width: 1280px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .screen-1 > header .info .kontakt .number {
        margin: 0 auto;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 17px 0;
        width: 50%; }
        .screen-1 > header .info .kontakt .number > ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          list-style-type: none;
          margin: 0;
          padding-left: 2.6%; }
          .screen-1 > header .info .kontakt .number > ul > li {
            padding-right: 15px;
            font-size: 16px; }
            .screen-1 > header .info .kontakt .number > ul > li > i {
              font-size: 16px; }
      .screen-1 > header .info .kontakt .adres {
        width: 50%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 17px 0;
        width: 50%;
        text-align: right;
        font-size: 16px;
        letter-spacing: 0.5px; }
        .screen-1 > header .info .kontakt .adres > i {
          padding-right: 1%; }
  .screen-1 > header .logoandmore {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25.48%;
    height: 80px; }
    .screen-1 > header .logoandmore .logo {
      padding: 10px; }
    .screen-1 > header .logoandmore .freshmeat {
      font-size: 80%;
      text-align: center; }
      .screen-1 > header .logoandmore .freshmeat > h2 {
        padding: 0;
        margin: 10px 0 0;
        font-family: "GillSansNovaBook";
        font-size: 27.66px;
        letter-spacing: 0.5px; }
      .screen-1 > header .logoandmore .freshmeat > h5 {
        padding: 0;
        margin: 0 0 0;
        font-family: "GillSansNovaBook";
        font-size: 12.5px;
        letter-spacing: 0.5px; }
  .screen-1 > header .men {
    width: 52%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px; }
    .screen-1 > header .men a {
      color: #212121;
      position: relative;
      display: block;
      font-family: "GillSansNovaBook";
      font-size: 18px;
      letter-spacing: 0.5px; }
      .screen-1 > header .men a:before {
        content: "";
        display: block;
        position: absolute;
        height: 24px;
        width: 22px;
        background-image: url("../img/barashub.png");
        top: 0;
        left: -32px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        opacity: 0; }
      .screen-1 > header .men a:hover:before {
        opacity: 1; }
      .screen-1 > header .men a:last-child:before {
        background-image: none; }
.myzak{
  margin: 5% 0 5%
}
.myzak>h1{
  font-size: 36px;
}
.opiszakaza{
  display: flex;
  box-shadow: 0px 0px 20px #ababab;
  margin: 5% 0 5%;
}
.img-zakaz{
  width: 18%;

}
.sheep{
  margin: 12%
}
.about-zakaz{
  width: 52%;
}
.text-about>h2{
  font-size: 33px;
  font-family: "GillSansNovaHeavy";
  margin: 5% 0 0;

}
.text-about>h3{
  font-size: 16px;
  font-family: "GillSansNovaBook";
  margin: 1% 0 0;

}
.stad-zakaz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5%;

}
.utoch-zakaz>p{
  font-size: 14px;
 color:  rgb(173, 173, 173);
 font-family: "GillSansNovaLight";
}
.dl-hr{
position: relative;
}
.dot {
    position: absolute;
    height: 8px;
    width: 8px;
    border: 1px solid #616161;
    border-radius: 50%;
    top: -5px;
    left: calc(50% - 5px);
    background-color: white;
}
.utoch-zakaz {
    width: 20%;
    text-align: center;
}
.dl-hr hr{
  height: 2px;
  background-color: #616161;
  border-color: #616161;
  box-shadow: none;
  border: none
}
.dl-hr.selected .dot{
   background-color: #4caf50;
   border-color: #4caf50; 
}
.dl-hr.selected hr {
  color: #4caf50; 
  background-color: #4caf50; 
}
.button-zakaz {
    align-self: center;
    width: 24%;
    margin: 0 auto;
}
.stop-zakaz>button {
    background-image: url(trash.png);
    font-family: "GillSansNovaHeavy";
    background-size: cover;
    border-radius: 70px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5% 17%;
    color: white;
    font-size: 14px;
    width: 100%;
    display: block;
}
.menedjer>button {
    background-image: url(contact.png);
    font-family: "GillSansNovaHeavy";
    background-size: 104% 121%;
    border-radius: 70px;
    border: none;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 5% 13%;
    color: white;
    font-size: 14px;
    width: 100%;
    display: block;
    }

    .screen-4__wrapper__containerfoot {
      max-width: 1280px;
      margin: 0  auto;
      width: 100%;
      min-width: 320px; }
      .screen-4__wrapper__containerfoot__menufoot {
        width: 80%;
        margin: 0 auto 1%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .screen-4__wrapper__containerfoot__menufoot__men {
          width: 70%;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          height: 43px; }
          .screen-4__wrapper__containerfoot__menufoot__men > a {
            color: #212121;
            display: block;
            font-family: "GillSansNovaBook";
            font-size: 18px;
            letter-spacing: 0.5px;
            margin-bottom: 1%; }
            .screen-4__wrapper__containerfoot__menufoot__men > a > i {
              font-size: 30px;
              margin: 0; }
        .screen-4__wrapper__containerfoot__menufoot__socfoot {
          width: 29%; }
          .screen-4__wrapper__containerfoot__menufoot__socfoot > a {
            color: #212121;
            margin: 0 auto;
            font-size: 30px;
            margin: 7px 0 0 8%; }
      .screen-4__wrapper__containerfoot__logoandmoref {
        margin: 0 auto;
        width: 50%;
        height: 100%;
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center; }
        .screen-4__wrapper__containerfoot__logoandmoref__logof {
          width: 14.46%;
          padding: 10px; }
        .screen-4__wrapper__containerfoot__logoandmoref__freshmeatf > h2 {
          margin: 10px;
          font-family: "GillSansNovaBook";
          font-size: 40.5px;
          letter-spacing: 0.5px;
          line-height: 1; }
        .screen-4__wrapper__containerfoot__logoandmoref__freshmeatf > h5 {
          padding: 0;
          font-family: "GillSansNovaBook";
          font-size: 16.5px;
          letter-spacing: 1.4px;
          margin: 10px; }

          footer{
            background-color: #f5f5f5;
          }